.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.FormMainClass{
  width: 100%;
  height: 25rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.FormClass{
  width: 70%;
  height: 60%;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.Form{
  width: 650%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: rgb(129, 129, 185);
}
.firstSection{
  height: 100%;
  width: 25rem;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-evenly;
}
.CheckBox{
  display: flex;
  font-size: 18px;
}